@use '../../../styles/variables.scss' as v;

.login {

    &__form {
        background-color: v.$sweet-beige;
        border: 1px v.$stroke solid;

        margin: 3rem 1rem;
        padding: 3rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;

        button {
            padding: 0.5rem 1.5rem;
            margin-top: 1rem;
        }
    }

    &__input {
        width: 15rem;
    }

    &__toast-show {

        margin: 1rem;
        padding: 1rem;
        p {
            text-align: center;
            color: rgb(116, 18, 18);
        }

        border :rgb(116, 18, 18) solid 1px;
    }

}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .eye-icon {
        position: absolute;
        right: 0.75rem;
        cursor: pointer;
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media screen and (min-width: 768px) {

    .login {

        &__form{
            max-width: 500px;
            margin: auto;
        }

        &__toast-show {
            max-width: 500px;
            margin: 2.5rem auto;
        }
    }
}